server:
  port: 8081

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 1GB
      max-request-size: 1GB
  datasource:
    username: root
    password:
    url: jdbc:mysql://localhost:3306/vedioprocessing?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    driver-class-name: com.mysql.cj.jdbc.Driver
mybatis:
  type-aliases-package: com.maple.pojo
  mapper-locations: classpath:mapper/*.xml
